.owl-carousel .owl-nav button.owl-next{
  color: inherit;
  border: none;
  padding: 0 !important;
  font: inherit;
  position: absolute;
  top: 40%;
  width: 10px;
  height: 10px;
  font-size: 55px;
  font-weight: 200;
  line-height: 40%;
  color: #390bb9;
  transition: 0.4s;
  right: -40px;
}

.owl-carousel .owl-nav button.owl-next:hover{
  border-radius: 50%;
}
.owl-carousel .owl-nav button.owl-prev{
  color: inherit;
  border: none;
  padding: 0 !important;
  font: inherit;
  position: absolute;
  top: 40%;
  width: 50px;
  height: 50px;
  font-size: 55px;
  font-weight: 200;
  line-height: 40%;
  color: #1709da;
  transition: 0.4s;
  left: -55px;
}
.owl-carousel .owl-nav button.owl-prev:hover{
  border-radius: 50%;
}
button:focus{
  outline: none;
}
.autoplay
{
	position: absolute;
	color: #000;
	font: 100% arial, sans-serif;
	right: 15px;
	text-decoration: none;
	text-shadow: 0 1px 0 #fff;
	top: 0px;
	width:auto;
	height:auto;
	z-index:999;
	opacity:0.4;
	transition: opacity .1s ease-in, transform .1s ease-out; 
	animation: fade_close 3s ease-out;
}
.autoplay:active
{
  transform:scale(0.8);
}

.stop
{
  right: 15px;
}

.play
{
  right: 90px;
}
.slider-box{
  margin: 2px;
  height: 303px;
  width: 290px;
  position: relative;
  background-color: #FFFFFF;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* border:  1px solid rgba(187, 187, 187, 0.40); */
  overflow: hidden;
}
 span{
   float: right;
 }
 p{
   font-size: 14px;
 }
.slider-box a{
  text-decoration: none;
  /* text-align: center; */
}
.img-box{
 top: 0;
 margin-top: 0;
}
.img-box img{
  border-radius: 5px;
  margin-top : -20px;
}
.img-box  p{
  color: rgb(74, 18, 100); 
  font-size: 18px;
  padding-top: 0px; 
}
.new{
  position: absolute;
  top: 0;
  height: 35px;
  width: 60px;
  right: 0;
  color: rgb(255, 6, 6);
  font-weight: 500;
  display: flex;
  border-radius: 10%;
  justify-content: center;
  align-items: center;
}
.product{
  position: absolute;
  bottom: 16px;
  right: 15px;
  color: #581374;
  font-size: 14px;
  font-style: initial;
  display: flex;
 
}
.cart{
  position: absolute;
  bottom: 0px;
  height: 35px;
  left: 0;
  width: 33.3%;
  border-radius: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cart a{
  color: #1a2ff0;
  font-size: 16px;
}
.cart:hover{
  transform: scale(1.01);
  font-size: 24px;
  transition: all ease 0.1s;
}
.buy{
  position: absolute;
  bottom: 0px;
  height: 35px;
  right: 0;
  width: 33.3%;
  display: flex;
  border-radius: 5%;
  justify-content: center;
  align-items: center;
  font-weight: 500;
}
.buy a{
  color: #5b0463;
}
.buy:hover{
  transform: scale(1.01);
  font-size: 17px;
  transition: all ease 0.1s;
}

.heart{
  position: absolute;
  bottom: 0px;
  height: 35px;
  width: 33%;
  font-size: 18px;
  left: 33.5%;
  border-radius: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.heart a{
  color: #f54e4e;
}
.heart:hover{
  transform: scale(1.01);
  font-size: 22px;
  transition: all ease 0.1s;
}
.icon-panel{
  position: absolute;
  bottom: -40px;
  width: 100%;
  transition-duration: 0.4s;
}
.slider-box:hover .icon-panel{
  bottom: 0px;
}
.slider-box:hover{
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.4);
}
.slider-box:hover .img-box img{
  transform: scale(1.01);
  transition: all ease 0.3s;
}
.owl-carousel .owl-nav div {
  background: rgba(255, 255, 255, 0.8) none repeat scroll 0 0;
  height: 40px;
  left: 20px;
  line-height: 40px;
  font-size: 22px;
  color: #646464;
  opacity: 1;
  visibility: visible;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.3s ease 0s;
  width: 40px;
}
.owl-carousel .owl-nav div.owl-next {
  left: auto;
  right: -30px;
}
.owl-carousel .owl-nav div.owl-next i {
  position: relative;
  right: 0;
  top: 1px;
}
.owl-carousel .owl-nav div.owl-prev i {
  position: relative;
  right: 1px;
  top: 0px;
}
.owl-carousel:hover .owl-nav div {
  opacity: 1;
  visibility: visible;
}
.owl-carousel:hover .owl-nav div:hover {
  color: #fff;
  background: #ff3500;
}
.s_product_text h5 {
  font-weight: 700;
  font-size: 15px;
  text-transform: capitalize;
  margin-bottom: 40px;
}
.s_product_text h5 span {
  margin: 0 10px;
}
.s_product_text h3 {
  font-size: 24px;
  font-weight: 700;
  color: #415094;
  margin-bottom: 10px;
}
.s_product_text h2 {
  font-size: 24px;
  font-weight: bold;
  color: #2577fd;
  margin-bottom: 15px;
} 

.s_product_text .card_area .main_btn {
  line-height: 38px;
  padding: 0px 38px;
  text-transform: uppercase;
  margin-right: 10px;
}
.s_product_text .card_area .icon_btn {
  margin-right: 10px;
  background: #f9f9ff;
  border-radius: 3px;
  color: #415094;
  display: inline-block;
  line-height: 40px;
  text-align: center;
  padding: 0px 13px;
  font-size: 14px;
}
.s_product_text .card_area .icon_btn:hover {
  background: #fff;
  box-shadow: -14.142px 14.142px 20px 0px rgba(0, 0, 0, 0.1);
}
.cart_area .product_count {
  display: inline-block;
  position: relative;
  margin-bottom: 24px;
  overflow: hidden;
}
.cart_area .product_count input {
  width: 76px;
  border: 1px solid #eeeeee;
  border-radius: 3px;
  padding-left: 10px;
}
.cart_area .product_count .input-number-increment {
  position: absolute;
  right: 0;
  top: -7px;
  padding: 10px;
  border-left: 1px solid #dddddd;
  display: inline-block;
}
.cart_area .product_count .input-number-increment:after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 7px;
  width: 100%;
  height: 1px;
  background-color: #dddddd;
}
.cart_area .product_count .input-number-decrement {
  position: absolute;
  right: 0;
  bottom: -12px;
  padding: 10px;
  border-left: 1px solid #dddddd;
  display: inline-block;
}
.cart_inner .table thead tr th {
  border-top: 0px;
  font-size: 14px;
  font-weight: 500;
  font-family: "Playfair Display", serif;
  color: #828bb2;
  border-bottom: 0px !important;
}
.cart_inner .table tbody tr td {
  padding-top: 30px;
  padding-bottom: 30px;
  vertical-align: middle;
  align-self: center;
}
.cart_inner .table .info {
  text-align: justify;
  text-indent: 20px; 
  max-width: 500px;
  padding-right: 40px; 
  padding-left: -50px;
}
.cart_inner .table tbody tr td button{
  width: 100px;
  height: 40px;
  background-color: rgb(105, 105, 209);
  font-weight: 400;
  font-size: 16px;
  color: #ffffff;
  border-radius: 5px;
  transition: 0.4s;
}
.cart_inner .table tbody tr td button:hover{
  background: #3a37c0;
  color: rgb(243, 243, 243);
}
.cart_inner .table tbody tr td .media .d-flex img {
  border: 1px solid #eeeeee;
  border-radius: 5px;
  max-width: 300px;                
}
.cart_inner .table tbody tr td h5 {
  font-size: 14px;
  color: #415094;
  font-family: "Playfair Display", serif;
  margin-bottom: 0px;
}
.cart_inner .table tbody tr td .product_count input {
  width: 100px;
  padding-left: 30px;
  height: 50px;
  outline: none;
  box-shadow: none;
}

