.owl-carousel-blog{
  /* max-width: 1160px !important;  */
  margin-left: 15px;
}
.owl-carousel .owl-nav button.owl-next{
  color: inherit;
  border: none;
  padding: 0 !important;
  font: inherit;
  position: absolute;
  top: 28% !important;
  font: inherit;
  width: 50px;
  height: 50px;
  font-size: 55px;
  font-weight: 200;
  line-height: 40%;
  color: #390bb9;
  transition: 0.4s;
  right: -25px;
}

.owl-carousel .owl-nav button.owl-next:hover{
  border-radius: 50%;
}
.owl-carousel .owl-nav button.owl-prev{
  color: inherit;
  border: none;
  padding: 0 !important;
  font: inherit;
  position: absolute;
  top: 28%;
  width: 50px;
  height: 50px;
  font-size: 55px;
  font-weight: 200;
  line-height: 40%;
  color: #390bb9;
  transition: 0.4s;
  left: -60px;
}
.owl-carousel .owl-nav button.owl-prev:hover{
  border-radius: 50%;
}
