.header-w{
	max-width: 1550px;
}
img.logo{
  max-width: 200px;
}

.icons {
    width: 20px;
    border-radius: 2px;
    vertical-align: center;
}

.head-info {
	font-size: 16px;
	color: rgb(103, 3, 128) !important ;
	font-weight: 600 !important;
}
.btn-group .dropdown-menu.show {
	max-width: 100px;
	width: 100px;
	min-width: 100px;
}
.header-collor a
{
  color: rgb(103, 3, 128);
}
.btn-w{
	float: right;
}