img.logo{
  max-width: 200px;
}

.icons {
    width: 20px;
    border-radius: 2px;
    vertical-align: center;
}

.btn-group .dropdown-menu.show {
	max-width: 100px;
	width: 100px;
	min-width: 100px;
}
.header-collor a
{
  color: rgb(103, 3, 128);
}