.form-box {
	position: relative;
	vertical-align: bottom;
}


.form-box .search-input {
	border-radius: 9%/50%;
	padding: 8px 36px 8px 16px;
	border: 1px solid;
	outline: 0px;
	min-width: 120px;
}

.form-box .search-icon {
  position: absolute;
  top: 8px;
  right: 50px;
}

.form-box .search-icon button {
	border: 0px solid;
	outline: 0px solid;
	background: transparent
}

.dropdown-menu {
	position: absolute;
    top: 50px;
    left: 10px;
    right: 10px;
    width: 98%;
    padding: 0;
    border-radius: 0;
    border: 0;
    overflow: hidden;
    padding-bottom: 20px;
}

.navbar-nav li:hover > ul.dropdown-menu {
    display: flex;
}

.dropdown-submenu {
    position:relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top:-6px;
}

/* rotate caret on hover */
.dropdown-menu > li > a:hover:after {
    text-decoration: underline;
    transform: rotate(-90deg);
}

.navbar {
	position: relative;
}

.card-item {
	overflow: hidden;
	border-radius: 8px;
	position: relative;
	width: 100%;
	padding: 0;
	margin: 0;
	height: 250px;
	max-height: 250px;
}

.card-item a .card-image {
	max-width: 100%;
	width: 100%;
	max-height: 100%;
	object-fit: cover;
	transition: 0.5s;
	position: absolute;
	bottom: 3.5rem;
}

.card-item .card-label {
	font-size: 1em;
	font-weight: 600;
	position: absolute;
	bottom: 0;
}

.card-item .card-pane {
	width: 100%;
	position: absolute;
	height: 2.6rem;
	bottom: -2.6rem;
	left: 0;
	transition: 0.3s;
}

.card-item:hover a .card-image {
	transform: scale(1.3, 1.3) translate(5px, 15px);
}

.card-item:hover .card-pane {
	bottom: -0.5rem;
}

.card-item .card-pane a {
	text-decoration: none;
}

.line {
	border: 3px solid #750991;
	width: 100%;
	margin-bottom: 6px;
}

@media only screen and (max-width: 576px) {
	.card-item {
		height: 170px;
	}
}

@media only screen and (min-width: 576px) {
	.card-item {
		height: 200px;
	}
}

@media only screen and (min-width: 768px) {
	.card-item {
		height: 250px;
	}
}

@media only screen and (min-width: 992px) {
	.card-item {
		height: 300px;
	}
}
