html,
body {
    /* max-width: 1200px; */
    height: 100%;
    /* background: #bebee548; */
    margin: auto;
}

.wrap {
    /* min-height: 100%; */
    height: auto;
    margin: auto;
    padding: 0;
}