@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


.btn-blue {
  background: #3E4095;
  color: #ffffff;
}

.btn-blue:hover {
  background: #3E40FF;
  color: #ffffff;
}

.text-blue {
  color: #3E4095;
}

.bg-blue {
  background: #3E4095;
}

html,
body {
    /*margin: auto;*/
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-family: 'Open-sans', 'sans-serif';
}

#formContent {
  -webkit-border-radius: 10px;
  position: relative;
  border-radius: 10px;
  background: #fff;
  width: 90%;
  max-width: 450px;
  position: relative;
  padding: 10px 30px 16px;
  margin: 100px auto;
  -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  text-align: center;
}

.button-block {
  width: 100%;
  padding: 0;
}

/* Simple CSS3 Fade-in-down Animation */
.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.saler-img {
  width: 100%;
  object-fit: contain;
}

.preview {
  height: 300px;
}

.preview #img {
  float: right;
  max-width: 300px;
  max-height: 300px;
  object-fit: contain;
}

.index-image {
  max-height: 250px;
  object-fit: contain;
  object-position: center;
}

.row {
  margin: 0;
}

.dropdown-toggle::after {
    content: none;
}